body {
    color:red;
}

p {
    color: orange;
}

header {
    color: purple;
}

table {
    color: green;
}

h1 {
    color: black;
}

h2 {
    color: blue;
}

h3 {
    color:aqua
}

h4 {
    color: pink;
}

h5{
    color:beige;
}
h6{
    color:brown;
}